<h3>Popular</h3>
<div class="flex my-2 overflow-x-scroll">
  <% @popular.each do |movie| %>
    <div class="my-1">
      <div class="bg-white flex-shrink-0 w-56 mr-4 rounded-lg shadow-md group">
        <img class="w-full h-64 object-cover object-center" src="https://image.tmdb.org/t/p/w500<%= movie['poster_path'] %>" 
          alt="<%= movie['title'] %>">
        <div class="p-4">
          <h1 class="text-md font-bold line-clamp-1"><%= movie['title'] %></h1>
          <p class="text-gray-700 line-clamp-2 text-pretty font-light"><%= movie['overview'] %></p>
          <a href="<%= movie_path(movie['id']) %>" 
            class="block mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Show</a>
        </div>
      </div>
    </div>
  <% end %>
</div>