<section class="flex flex-col">
  <div class="w-full h-96" >
    <img class="w-full h-full" src="https://image.tmdb.org/t/p/w500<%= @poster %>" alt="movie poster">
  </div>
  <%= render "movies/upcoming" %>
  <%= render "movies/now_playing"%>
  <%= render "movies/popular" %>
  <%= render "movies/top_rated" %>
</section>
