<section class="w-full h-full">
  <div class="my-2 flex items-center justify-start">
    <%= link_to "Back", movies_path, class: "text-white bg-blue-500 p-2 rounded-lg w-18" %>
  </div>
 <%= render partial: 'movies/card' %>
</section>
<section>
  <%= render partial: 'movies/trailers' %>
</section>
<section>
  <%= render partial: 'movies/casts' %>
</section>
<section>
  <%= render partial: 'movies/recommendations' %>
</section>
