<div class="min-h-full mb-8">
  <div class="self-start mb-1">
    <%= link_to "Back", posts_path, class: "text-blue-500" %>
  </div>
  <div class="flex flex-col gap-2 items-center">
    <div class="flex flex-col gap-1 text-white">
      <div class="flex gap-1">
        <div class="w-8 h-8 rounded-full">
          <%= image_tag(@post.author.avatar) %>
        </div>
        <div class="flex flex-col gap-0.5 p-2">
          <p class="text-start"><%= @post.author.username %></p>
          <p class="text-start text-sm"><%= @post.created_at.strftime("%B %d, %Y") %></p>
          <p class="text-sm font-bold self-start"><%= @post.review %></p>
        </div>
      </div>
      <div class="flex flex-col gap-2 sm:flex-row border border-gray-400">
        <div class="h-96 sm:h-96 sm:w-1/3 flex flex-col  text-center ">
          <img src="https://image.tmdb.org/t/p/w500<%= @post.image %>" alt="<%= @post.title %>" class="w-full h-full">
        </div>
        <div class="flex flex-col gap-1 leading-normal px-2">
          <h1 class="text-xl font-bold text-center"><%= @post.title %></h1>
          <p class="text-gray-500 text-sm">Overview: <%= @post.overview %></p>
          <p class="text-gray-500 text-sm">Rating: <%= @post.rating %>%</p>
          <p class="sm:text-lg text-gray-500 text-sm">Runtime: <%= @post.runtime %> minutes</p>
          <p class="sm:text-lg text-gray-500 text-sm">Released: <%= @post.release_date %></p>
          <p class="sm:text-lg text-gray-500 text-sm">Genres:
            <% @post.genres.each do |genre| %>
            <span class="text-gray-700 text-base"><%= genre %></span>
            <% end %>
          </p>
          <% if current_user.id == @post.author.id %>
          <div class="flex gap-2">
            <%= link_to "Edit", edit_post_path(@post), class: "text-blue-500" %>
            <%= button_to "Delete", post_path(@post), data: { confirm: "Are you sure?" }, method: :delete, class: "text-red-500" %>
          </div>
          <% end %>
          <div class="flex w-full items-center flex-1">
            <div class="flex flex-col w-full">
              <%= render partial: "comments/form",locals: {post: @post}%>
            <div class="flex gap-1 p-2 justify-end">
              <p class="self-end"><%= @post.comments_count %> comments</p>
              <p class="self-end"><%= @post.likes_count %> likes</p>
            </div>
            </div>
          </div>
        </div>
      </div>
      <% if @post.comments.present? %>
        <% @post.recent_comments.each do |comment| %>
          <div class="flex gap-1 p-2 items-center border-r border-b border-l lg:border-t bg-transparent rounded-b lg:rounded-b-none lg:rounded-r lg:border-gray-400 rounded-t lg:rounded-l">
            <div class="flex flex-col gap-1 w-full">
              <p class="text-start"><%= comment.thought %></p>
              <p class="text-start"><%= comment.author.username %></p>
              <p class="text-start"><%= comment.created_at.strftime("%B %d, %Y") %></p>
            </div>
            <% if current_user.id == comment.author.id %>
              <div class="flex gap-2">
                <%= link_to "Edit", edit_post_comment_path(@post, comment), class: "text-blue-500" %>
                <%= button_to "Delete", post_comment_path(@post, comment), data: { confirm: "Are you sure?" }, method: :delete, class: "text-red-500" %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>