<!DOCTYPE html>
<html>
  <head>
    <title>MovieClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <main class="px-5 flex flex-col mt-16">
      <div pose >
        <% flash.each do |key, value| %>
          <%= content_tag :div, value, class: "flash #{key == 'notice' ? 'text-center text-green-500' : 'text-center text-red-500'}" %>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
